<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
	<head>
		<meta charset="ISO-8859-1">
		<title></title>
	</head>
	<body>
		<section>
			
		<div class="container card-sh" style="margin-top: 70px;">
			<div class="row">
				<div class="col-md-12 p-5">
					<div class="col-md-6 text-end">
						<img alt="" src="img/product_img/hplabtop.jpeg" width="330px" height="400px">
					</div>
					<div class="col-md-6">
						
						<p class="fs-3">Labtop</p>
						
						<p>
							<span class="fw-bold">Description : </span><br>HP Labtop, 256Gb SSD
						</p>
						
						<p>
							<span class="fw-bold"> Details Produit : </span><br>Statut :
							<span class="badge bg-success">Disponible</span>
							<span class="badge bg-success">Rupture de stock</span><br> Categorie : Labtop <br>
							Garantie : remplacement et retour dans les 7 jours
						</p>
						
					</div>
				</div>
			</div>
		</div>
			
		</section>
	</body>
</html>